<section>
    <div class="group">
        <h1>{{ currentGroup?.title }}</h1>
        <p>{{ currentGroup?.desc }}</p>
    </div>

    <div class="members">
        <h3>Mitglieder:</h3>
        @if (users.length > 0) {
        <div class="users">
            <ul>
            @for (user of users; track $index) {
            <li>{{ user.name }}</li>
            }
        </ul>
        </div>
        } @else {
        <p>Keine Mitglieder in dieser Gruppe</p>
        }
    </div>

    <div class="expenses">
        <h3>Ausgaben:</h3>
        @if (expenses.length > 0) {
            <ul class="expenses-list">
            @for (expense of expenses; track $index) {
                <li>
                    <div class="expense">
                        <span>{{ expense.title }}:</span>
                        <span>{{ expense.value | number: '2.2-2' }}</span>
                        <span>{{ expense.currency }}</span>
                    </div>
                </li>
            }
        </ul>
        } @else {
            <p>Noch keine Ausgaben in dieser Gruppe.</p>
        }
    </div>


</section>

<button (click)="copyIDForSharing()" class="floating-btn upper-btn">
    <img src="assets/icons/share.svg" alt="share icon">
</button>
<button (click)="toggleAddExpenseDialog()" class="floating-btn">
    <img src="assets/icons/add.svg" alt="add icon">
</button>

@if (uiService.isAddExpenseDialogPresented) {
<app-add-expense-form class="dialog" @slideFromBottom [group]="currentGroup"></app-add-expense-form>
<div (click)="toggleAddExpenseDialog()" class="dialog-bg"></div>
}