@use '../../../styles.scss' as *;


header {
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, $color-black-bg 100%),
        linear-gradient(45deg, $color-black-bg 30%, $color-green-bg 70%);
    width: 100%;
    height: 100%;
    @include dFlex($jc: flex-end);
    padding: 0 0.75rem;

    .user-info {
        @include dFlex($fd: column, $ai: flex-end);

        p {
            font-size: 0.75rem;
        }
    }
}