<section>
    <h1>Willkommen bei Share-it</h1>
    <p>Share-it ist eine Web-App um Ausgaben in einer Gruppe zu teilen</p>
    <p>Die MVP Version soll folgende Features haben:</p>
    <ul>
        <li>Account erstellen</li>
        <li>Gruppen anlegen</li>
        <li>Gruppen teilen und beitreten</li>
        <li>Ausgaben hinzufügen</li>
    </ul>
    <p>Für die fertige Version ist folgendes geplant:</p>
    <ul>
        <li>Bilder für Gruppen hochladen</li>
        <li>Bilder für Ausgaben hochladen</li>
        <li>Ausgleichszahlungen berechnen</li>
        <li>User direkt über einen link einladen</li>
    </ul>
    <p>Share-it basiert auf Angular und nutzt Firebase als Backend</p>
</section>