@use '../../../styles.scss' as *;

section {
    @extend .contentMinHeight;
    @include dFlex($fd: column, $jc: space-between, $g: 1rem);

    >div {
        h2 {
            text-align: center;
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        .btns {
            @include dFlex($g: 1rem);
        }
    }

    .user-info {
        @include dFlex($g: 0.25rem);
    }
}